<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.yto.module_sign">
    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <activity android:name=".MainActivity">
    </activity>
        <activity android:name=".TestActivity">
        </activity>
    </application>

</manifest>